<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="InI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="InI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="centercode" value="5" />
    <add key="centername" value="陸軍專校鑑測站" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="IsAuto" value="0" />
    <add key="IsUsedBodyfat" value="1" />
    <!--<add key="Logo" value="http://192.168.0.6/images/logo.bmp"/>-->
    <!--<add key="Logo" value="http://192.168.0.6/Center/images/106_Transcripts_logo.bmp"/>-->
    <add key="Logo" value="http://192.168.0.29/Center/images/106_Transcripts_logo.bmp" />
    <add key="RaceTime" value="2012/12/3" />
  </appSettings>
  <connectionStrings>
    <!--公司資料庫連結-->
    <!--<add name="CenterDB" connectionString="Data Source=192.168.0.29;Initial Catalog=Center;User ID=myap;Password=proview" providerName="System.Data.SqlClient" />-->
    <!--本測資料庫連結-->
    <add name="CenterDB" connectionString="Data Source=KUMA-PC;Initial Catalog=Center;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="ClientRoleProvider">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WebService2Soap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.0.29/AWS/WebService2.asmx" binding="basicHttpBinding" bindingConfiguration="WebService2Soap" contract="AWS_WS.WebService2Soap" name="WebService2Soap" />
    </client>
  </system.serviceModel>
  <applicationSettings>
    <InI.Properties.Settings>
      <setting name="Checkin_CenterWS_WebService" serializeAs="String">
        <value>http://192.168.0.121/Center/WebService.asmx</value>
      </setting>
    </InI.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <InI.Properties.Settings>
      <setting name="IParray" serializeAs="String">
        <value />
      </setting>
    </InI.Properties.Settings>
  </userSettings>
</configuration>